/* base */

:root{
    --cor-fundo:#a3b8ca ;
    --cor-rodape:#b3c2cf;
}
@font-face{
        src: url(../font/neucha.otf);
        font-family: neucha;
}
p,h1,h2,h3,h4{
    font-family: neucha;
    font-weight: 700;
}
p{
    font-size: large;
}

.nav-item img{
    height: 30px;
    width: 30px;
    
}
.container-fluid{
    font-size: 25px;
}
.navbar-brand img{
    height:70px;
    width: 70px;
   
}

.header img{
    width: 100%;
    height: 100px;   
    
}
.navbar.bg-light {
    border:none;
}
.icones img{
    height:30px;
    width: 30px;
}
.footer{
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: var(--cor-rodape);
    
}
section.mb-4{
    padding: 0;
}
.bg-dark{
    background-color: var(--cor-rodape) !important
}
section img{
    width: 40px;
    height: 40px;
    
}


/* fim da base */