<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início</title>


  
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">



</head>

<body>
  <div class="header">
    <img src="/icones/banner.png" alt="">
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#"><img src="/icones/icone.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
              <img src="../icones/home.png" alt="">
              Início
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="sobre.html">
              <img src="../icones/sobre.png" alt="">
              Sobre Nós
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="contatos.html">
              <img src="../icones/contato.png" alt="">
              Contatos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





  <!-- a div container centraliza o conteúdo -->
  <div class="container">
    <div class="titulo">
      <h1>Conheça a maior rede de ilustradores.</h1>
    </div>
  </div>

  <div class="container">
    <div class="texto">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ea eveniet error adipisci repellat! Rem ut
        sapiente recusandae aliquam laborum dolores facilis, ipsum autem, ex, ullam accusamus amet cumque nulla.</p>
    </div>
  </div>

  <div class="container">

    <div class="imagens">
      <div class="row">
        <div class="col-md-4">
          <img src="/icones/brejal_png.png" alt="desenho" name="sapo">
          <label for="sapo">Colorir ilustrações</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="/icones/bmo_2.jpg" alt="desenho">
          <label for="mosher">Fanart</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="/icones/MOSHED-2019-3-19-22-24-53.gif" alt="desenho" name="moshed">
          <label for="mosher">Gifs</label>
        </div>
      </div>
    </div>
  </div>

  <div class="separador">
    <img src="../icones/divisao.png" alt="">
  </div>

  <div class="text-center">
    <p>Turma dos Feras Serratec</p>
    <p>Code by Jesse 2021</p>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>