<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início</title>


  
 
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/rodape.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/base.css">



</head>

<body>

  <div class="header">
    <img src="/icones/banner.png" alt="">
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#"><img src="/icones/icone.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
              <img src="../icones/home.png" alt="">
              Início
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="sobre.html">
              <img src="../icones/sobre.png" alt="">
              Sobre Nós
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="contatos.html">
              <img src="../icones/contato.png" alt="">
              Contatos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





  <!-- a div container centraliza o conteúdo -->
  <div class="container">
    <div class="titulo">
      <h1>Commissions abertas</h1>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="texto">
      <p>Portfólio e venda de ilustrações digitais.</p>
      <h2>Trabalhamos com:</h2>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col">
       <img src="/icones/bmo_2.jpg" name="imagem2" alt="desenho" id="imagem2">
          <label for="imagem2">Fanart</label>
      </div>
      <div class="col">
        <img src="/icones/MOSHED-2019-3-19-22-24-53.gif" alt="desenho" name="imagem3">
          <label for="imagem3">Gifs</label>
      </div>
      <div class="col">
        <img src="/icones/brejal_png.png" alt="desenho" name="imagem1">
          <label for="imagem1">Colorir ilustrações</label>
      </div>
    </div>    
  </div> 
  
        <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
 
  <div class="container p-4">
    <!-- Section: Redes Sociais -->
    <section class="mb-4">
      <p>Turma dos Feras Serratec</p>
      <a class="btn btn-floating m-1" href="#!" role="button"
        ><img src="../icones/instagram.png" alt=""></a>

        <a class="btn btn-floating m-1" href="#!" role="button"
        ><img src="../icones/facebook.png" alt=""></a>

        <a class="btn btn-floating m-1" href="#!" role="button"
        ><img src="../icones/twitter.png" alt=""></a>
    </section>
    <!-- Section: Social media -->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    Code by Jesse 2021
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
 
  </div>

  <script src="/scripts/bootstrap.bundle.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>