<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/sobre.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
  
  <div class="header">
    <img src="/icones/banner.png" alt="">
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#"><img src="/icones/icone.png" alt=""></a>
      <button class="navbar-toggler" id="" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
      <!-- collapse faz os nomes do navbar aparecer -->
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">
              <img src="../icones/home.png" alt="">
              Início
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="sobre.html">
              <img src="../icones/sobre.png" alt="">
              Sobre Nós
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="contatos.html">
              <img src="../icones/contato.png" alt="">
              Contatos
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  
  <div class="container">
    <div class="cabecalho">
      <h1>Sobre</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate ipsum error sit laboriosam labore quis
        voluptatum molestiae, nesciunt, quod voluptatem repellat, quisquam eaque ex optio molestias tempora beatae ipsa
        quidem.</p>
    </div>
  </div>

  <div class="container">

    <div class="texto-imagem">

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, ut nesciunt? Inventore voluptatem corporis
        praesentium sunt ratione ipsa vero, eos odit sed labore! Totam voluptatum quibusdam adipisci asperiores maxime
        nostrum.</p>
      <img src="../icones/bmo_2.jpg" alt="">
    </div>

  </div>
  <div class="container">

    <div class="texto-imagem">
      <img src="../icones/brejal_png.png" alt="">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quidem velit recusandae consectetur, in
        consequuntur illum, libero reiciendis magni cupiditate suscipit maiores numquam provident error perspiciatis
        omnis accusamus quae asperiores.</p>
    </div>
  </div>

  <div class="text-center">
    <p>Turma dos Feras Serratec</p>
    <p>Code by Jesse 2021</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>